<!DOCTYPE html>
<html>
<head>
<title>Catherine's Café</title>
</head>
<body>
<body bgcolor="	#ccffff">

<div align="center">

<h1> Catherine's Café</h1>
<div>

<img src= "../../static/woods.jpeg" alt= trees style="width:500px;height:228px;">
<p>
Catherine Jang
<br>
student at Granada Hills Charter High School
<br>
Contact information:
<br>
email:c30087@student.ghchs.com
</p>


<div align="left">
<h3>Bio:</h3>
<p>
Catherine Jang is a rising senior at Granada Hills Charter High School. Her academic strengths are in the STEM field, particularly math. Aside from academics, she is a founder and president of a computer science club called ALIS (Algorithms and Information Security), and she is vice president of an school orchestra linked club called HSOA (Highlander String Orchestra Association). She is also president at a community orchestra called the Valley Philharmonic Orchestra. In her free time, she enjoys writing and arts and crafts as well as playing the cello.
</p>
<div>
<h3>Accomplishments:</h3>
<div align="left">
<p>
Oracle licensed Java programmer
<br>
TOPIK(Test of Proficiency in Korean) level 6 certified
<br>
Presidential volunteer award (two bronze and one gold)
<br>
California Legislature Assembly Award
<br>
Pathway to Biliteracy Award
<div>
</p>

<div align="left">
<h3>Articles:</h3>
<iframe src="../../static/GenocideToday.pdf" width="500" height="700">
<div>

</body>
</html>
